<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout/defaultLayout">
<head>
<meta charset="utf-8">
<title>Company and Employees</title>
</head>
<body>
	<th:block layout:fragment="content">
		<div th:if="${company.layoutType eq 'table'}">
			<th:block th:replace ="fragments/employeeList :: fragment-content"></th:block>
		</div>
		
		<div th:if="${company.layoutType eq 'list'}">
			<th:block th:replace ="fragments/employeeList2 :: fragment-content"></th:block>
		</div>
	</th:block>
	
</body>
</html>